body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#161b22;
}

/* Navbar Styles */
header {
    background-color: #0d1117;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #0d1117;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    background-color:#161b22;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family:helvetica;
    padding: 5px 10px;
}

.nav-links a:hover {
    
    border-radius: 5px;
    border-color:#21262d;
}

/* Menu Toggle for Mobile */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #0d1117;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}
